#title {
    background-color: #ff4c68;
}
body {
    font-family: 'Montserrat-regular', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
  /* navbar */
.container-fluid {
    padding: 3% 15%;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 15px;
    font-weight: 400;
}
.nav-link {
    text-align: right;
}
.button {
    margin: 3.125rem 0.625rem 0 0;
}
.image {
    margin: 0 0 0 100px;
    width: 60%;
    transform: rotate(30deg);
}

/* features */
#features {
    padding: 7% 15%;
}
.items {
    text-align: center;
}
.items i {
    font-size: 75px;
    color: #ef8172;
}
.items i:hover {
    color: #ff4c68;
}
.items h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.items p {
    color: #8f8f8f;
}
.items i, h3 {
    line-height: 1.5;
}

/* testimonial */

#testimonials {
    background-color: #ef8172;
    text-align: center;
}
#testimonials h2 {
    color: #fff;
    font-family:  'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
}
#testimonials em {
    color: #fff;

}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    padding: 0 1rem;
}
.carousel-item {
    padding: 7% 15%;
}

/* press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-icons {
    width: 15%;
    margin: 1.25rem 1.25rem 3.125rem 1.25rem;
}
